<%- include("partials/header"); -%>
<form class="" action="/compose" method="post">

  <h1>Compose</h1>
  <b>Title</b>
  <p><input type="text" name="inputTitle" size="150"></p>
  <b>Post</b>
  <p><textarea rows="10" cols="152" size="150" name="postBody"></textarea></p>
  <button type="submit" name="button" class="btn btn-primary" >Publish</button>




</form>
<%- include("partials/footer"); -%>
